auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=false
node-linker=isolated
prefer-workspace-packages=true
link-workspace-packages=true
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=argon2
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@nestjs/core
onlyBuiltDependencies[]=@swc/core
onlyBuiltDependencies[]=@swc-node/register
